{{! Loaded via template.js }}

<h1>Algorithmic Analysis!</h1>
<h3>Number of algorithms to compare</h3>
	<select id="quantity">
		<option value="1" selected>1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
<h3>Select Algorithms</h3>
	{{! need to determine how to make a variable number of below divs based on value of quantity, possibly by calling algContent() multiple times }}
	<div id="x">
		<select id="algorithm_x">
			{{#each algorithms}}
				<option value={{@index}}>{{this}}</option>
		</select>
	</div>
<h3>Enter array of data to be sorted</h3>
	<p>Accepts strings and numbers, space between individual values</p>
	<input type="text" id="input" value="">
<button id="submit">Execute</button>
<div id="output"></div>