
<h1>Algorithmic Analysis!</h1>
<h3>Number of algorithms to compare</h3>
	<select id="quantity">
		<option value="1" selected>1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
<h3>Select Algorithms</h3>
	<select id="algorithms">
		{{#each algArray}}
			<option value={{this}}>{{this}}</option>
		{{/each}}
	</select>
<h3>Enter array of data to be sorted</h3>
	<p>Accepts strings and numbers, space between individual values</p>
	<input type="text" id="input" value="">
<button id="submit">Execute</button>
<h3>Sorting Output</h3>
<div id="output"></div>
